@font-face {
  src: url(./fonts/Deckard-Regular.otf);
  font-family: Deckard; }

* {
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-family: Deckard, sans-serif;
  background: black; }

#logo {
  position: fixed;
  width: calc(100% - 2em);
  top: 1em;
  left: 1em;
  right: 1em; }

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  background: #f6f6f6; }
  @media (min-width: 60rem) {
    .main {
      height: auto;
      top: 2rem;
      bottom: 0; } }
  .main_menu-open {
    -webkit-transform: translateX(90%);
            transform: translateX(90%); }
    @media (min-width: 60rem) {
      .main_menu-open {
        -webkit-transform: none;
                transform: none; } }

.app {
  background: #f6f6f6;
  height: 100vh;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0); }
  body.loaded .app {
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
    -webkit-transform: none;
            transform: none; }

.tabs {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #f6f6f6;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  @media (min-width: 60rem) {
    .tabs {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      width: 100%;
      height: 2rem; } }

.tab {
  padding: 1em 2em;
  cursor: pointer;
  -webkit-transition: background .25s;
  transition: background .25s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  font-weight: 300; }
  .tab:nth-child(1) {
    background: -webkit-linear-gradient(top, #9acaff 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, #9acaff 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .tab_active:nth-child(1) {
    background: #9acaff;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(1) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(1) {
      background: #9acaff;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab:nth-child(2) {
    background: -webkit-linear-gradient(top, #f9c266 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, #f9c266 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 4;
            order: 3; }
  .tab_active:nth-child(2) {
    background: #f9c266;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(2) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(2) {
      background: #f9c266;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab:nth-child(3) {
    background: -webkit-linear-gradient(top, #9affa3 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, #9affa3 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 5;
            order: 4; }
  .tab_active:nth-child(3) {
    background: #9affa3;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(3) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(3) {
      background: #9affa3;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab:nth-child(4) {
    background: -webkit-linear-gradient(top, #f893a1 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, #f893a1 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 6;
            order: 5; }
  .tab_active:nth-child(4) {
    background: #f893a1;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(4) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(4) {
      background: #f893a1;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab:nth-child(5) {
    background: -webkit-linear-gradient(top, #edbeee 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, #edbeee 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 7;
            order: 6; }
  .tab_active:nth-child(5) {
    background: #edbeee;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(5) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(5) {
      background: #edbeee;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab:nth-child(6) {
    background: -webkit-linear-gradient(top, #e8c7aa 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, #e8c7aa 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 8;
            order: 7; }
  .tab_active:nth-child(6) {
    background: #e8c7aa;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(6) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(6) {
      background: #e8c7aa;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab:nth-child(7) {
    background: -webkit-linear-gradient(top, #aae8e7 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, #aae8e7 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 9;
            order: 8; }
  .tab_active:nth-child(7) {
    background: #aae8e7;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(7) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(7) {
      background: #aae8e7;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab:nth-child(8) {
    background: -webkit-linear-gradient(top, #d8ff63 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, #d8ff63 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 10;
            order: 9; }
  .tab_active:nth-child(8) {
    background: #d8ff63;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(8) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(8) {
      background: #d8ff63;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab:nth-child(9) {
    background: -webkit-linear-gradient(top, gainsboro 0, #f6f6f6 100%);
    background: linear-gradient(to bottom, gainsboro 0, #f6f6f6 100%);
    -webkit-box-ordinal-group: 11;
            order: 10; }
  .tab_active:nth-child(9) {
    background: gainsboro;
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (min-width: 60rem) {
      .tab_active:nth-child(9) {
        -webkit-box-ordinal-group: 1;
                order: 0; } }
  @media (min-width: 60rem) {
    .tab:nth-child(9) {
      background: gainsboro;
      -webkit-box-ordinal-group: 1;
              order: 0; } }
  .tab_active {
    cursor: default; }
  .tab .bubble {
    position: absolute;
    right: .6em;
    top: .8em; }
    @media (min-width: 60rem) {
      .tab .bubble {
        top: .28em;
        right: .25em; } }
  @media (min-width: 60rem) {
    .tab {
      -webkit-box-flex: 1;
              flex: 1 1 0;
      text-align: center;
      height: 100%;
      padding: .5em 2.5em; }
      .tab_active {
        border-bottom: none; }
      .tab .throbber {
        position: absolute;
        top: .2em;
        left: .35em;
        font-size: 1.3em;
        display: block; } }

.bubble {
  padding: .22em .4em .18em .4em;
  border-radius: 10em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: red;
  color: white;
  position: absolute;
  min-width: 1.4em; }

.article {
  position: absolute;
  top: 3rem;
  bottom: 0;
  font-family: 'Spectral', serif;
  background: #f6f6f6;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%; }
  @media (min-width: 415px) {
    .article {
      font-size: 22px; } }
  @media (min-width: 60rem) {
    .article {
      top: 0; }
      .article:after {
        content: '';
        display: block;
        top: 3rem;
        position: fixed;
        width: 100%;
        height: 100px;
        top: 2rem; } }
  .article p {
    max-width: 50rem;
    padding: 0 .5em;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 60rem) {
      .article p {
        min-width: 35rem;
        margin-right: 25rem; } }
    @media (min-width: 75rem) {
      .article p {
        margin-left: calc( ( 100vw - 75rem ) / 2); } }
    @media (min-width: 100rem) {
      .article p {
        margin-left: auto;
        margin-right: auto; } }
    .article p:first-child {
      margin-top: 4em; }
    .article p:last-child {
      margin-bottom: 50vh; }
    .article p a {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      -webkit-transition: border-bottom-color .25s;
      transition: border-bottom-color .25s; }
      .article p a, .article p a:visited {
        color: inherit; }
      .article p a:hover {
        border-bottom: 1px solid black; }
  .article h1 {
    font-size: inherit;
    text-transform: uppercase; }
  .article h2 {
    font-size: inherit;
    text-transform: uppercase;
    font-weight: inherit;
    margin-bottom: 0; }
  .article span {
    border-radius: 4px;
    position: relative;
    -webkit-transition: background 1s 1s, box-shadow 1s 1s;
    transition: background 1s 1s, box-shadow 1s 1s; }

@-webkit-keyframes highlight-1 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-1 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(2):after {
    background: -webkit-linear-gradient(top, #9acaff 0, rgba(154, 202, 255, 0) 50px);
    background: linear-gradient(to bottom, #9acaff 0, rgba(154, 202, 255, 0) 50px); }
  .article:nth-child(2) span {
    -webkit-animation: highlight-1 4s;
            animation: highlight-1 4s; }
    .article:nth-child(2) span.unseen {
      background: #9acaff;
      box-shadow: 0 0 10px 5px #9acaff; }

@-webkit-keyframes highlight-2 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-2 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(3):after {
    background: -webkit-linear-gradient(top, #f9c266 0, rgba(249, 194, 102, 0) 50px);
    background: linear-gradient(to bottom, #f9c266 0, rgba(249, 194, 102, 0) 50px); }
  .article:nth-child(3) span {
    -webkit-animation: highlight-2 4s;
            animation: highlight-2 4s; }
    .article:nth-child(3) span.unseen {
      background: #f9c266;
      box-shadow: 0 0 10px 5px #f9c266; }

@-webkit-keyframes highlight-3 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-3 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(4):after {
    background: -webkit-linear-gradient(top, #9affa3 0, rgba(154, 255, 163, 0) 50px);
    background: linear-gradient(to bottom, #9affa3 0, rgba(154, 255, 163, 0) 50px); }
  .article:nth-child(4) span {
    -webkit-animation: highlight-3 4s;
            animation: highlight-3 4s; }
    .article:nth-child(4) span.unseen {
      background: #9affa3;
      box-shadow: 0 0 10px 5px #9affa3; }

@-webkit-keyframes highlight-4 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-4 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(5):after {
    background: -webkit-linear-gradient(top, #f893a1 0, rgba(248, 147, 161, 0) 50px);
    background: linear-gradient(to bottom, #f893a1 0, rgba(248, 147, 161, 0) 50px); }
  .article:nth-child(5) span {
    -webkit-animation: highlight-4 4s;
            animation: highlight-4 4s; }
    .article:nth-child(5) span.unseen {
      background: #f893a1;
      box-shadow: 0 0 10px 5px #f893a1; }

@-webkit-keyframes highlight-5 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-5 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(6):after {
    background: -webkit-linear-gradient(top, #edbeee 0, rgba(237, 190, 238, 0) 50px);
    background: linear-gradient(to bottom, #edbeee 0, rgba(237, 190, 238, 0) 50px); }
  .article:nth-child(6) span {
    -webkit-animation: highlight-5 4s;
            animation: highlight-5 4s; }
    .article:nth-child(6) span.unseen {
      background: #edbeee;
      box-shadow: 0 0 10px 5px #edbeee; }

@-webkit-keyframes highlight-6 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-6 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(7):after {
    background: -webkit-linear-gradient(top, #e8c7aa 0, rgba(232, 199, 170, 0) 50px);
    background: linear-gradient(to bottom, #e8c7aa 0, rgba(232, 199, 170, 0) 50px); }
  .article:nth-child(7) span {
    -webkit-animation: highlight-6 4s;
            animation: highlight-6 4s; }
    .article:nth-child(7) span.unseen {
      background: #e8c7aa;
      box-shadow: 0 0 10px 5px #e8c7aa; }

@-webkit-keyframes highlight-7 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-7 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(8):after {
    background: -webkit-linear-gradient(top, #aae8e7 0, rgba(170, 232, 231, 0) 50px);
    background: linear-gradient(to bottom, #aae8e7 0, rgba(170, 232, 231, 0) 50px); }
  .article:nth-child(8) span {
    -webkit-animation: highlight-7 4s;
            animation: highlight-7 4s; }
    .article:nth-child(8) span.unseen {
      background: #aae8e7;
      box-shadow: 0 0 10px 5px #aae8e7; }

@-webkit-keyframes highlight-8 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-8 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(9):after {
    background: -webkit-linear-gradient(top, #d8ff63 0, rgba(216, 255, 99, 0) 50px);
    background: linear-gradient(to bottom, #d8ff63 0, rgba(216, 255, 99, 0) 50px); }
  .article:nth-child(9) span {
    -webkit-animation: highlight-8 4s;
            animation: highlight-8 4s; }
    .article:nth-child(9) span.unseen {
      background: #d8ff63;
      box-shadow: 0 0 10px 5px #d8ff63; }

@-webkit-keyframes highlight-9 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }

@keyframes highlight-9 {
  0% {
    opacity: 0;
    top: 100vh; }
  12.5% {
    opacity: 1;
    top: 0; } }
  .article:nth-child(10):after {
    background: -webkit-linear-gradient(top, gainsboro 0, rgba(220, 220, 220, 0) 50px);
    background: linear-gradient(to bottom, gainsboro 0, rgba(220, 220, 220, 0) 50px); }
  .article:nth-child(10) span {
    -webkit-animation: highlight-9 4s;
            animation: highlight-9 4s; }
    .article:nth-child(10) span.unseen {
      background: gainsboro;
      box-shadow: 0 0 10px 5px gainsboro; }

.notifications {
  position: fixed;
  width: 100%;
  max-width: 25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc( 100% - 110px); }
  @media (min-width: 60rem) {
    .notifications {
      top: 2em;
      left: auto;
      right: 0;
      bottom: 0;
      -webkit-transform: none;
              transform: none; } }

.notification {
  padding: 1em;
  background: white;
  cursor: pointer;
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-radius: 5px;
  -webkit-animation: fade-in .75s;
          animation: fade-in .75s; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .notification__title {
    font-weight: normal;
    margin-bottom: .5em; }
  .notification__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .notification__image {
    float: left;
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
    border-radius: 50%;
    background-size: cover;
    background-position: center center; }
  .notification_tab-1 {
    box-shadow: 0 10px 35px #9acaff; }
    .notification_tab-1 .notification__text {
      color: #9acaff; }
  .notification_tab-2 {
    box-shadow: 0 10px 35px #f9c266; }
    .notification_tab-2 .notification__text {
      color: #f9c266; }
  .notification_tab-3 {
    box-shadow: 0 10px 35px #9affa3; }
    .notification_tab-3 .notification__text {
      color: #9affa3; }
  .notification_tab-4 {
    box-shadow: 0 10px 35px #f893a1; }
    .notification_tab-4 .notification__text {
      color: #f893a1; }
  .notification_tab-5 {
    box-shadow: 0 10px 35px #edbeee; }
    .notification_tab-5 .notification__text {
      color: #edbeee; }
  .notification_tab-6 {
    box-shadow: 0 10px 35px #e8c7aa; }
    .notification_tab-6 .notification__text {
      color: #e8c7aa; }
  .notification_tab-7 {
    box-shadow: 0 10px 35px #aae8e7; }
    .notification_tab-7 .notification__text {
      color: #aae8e7; }
  .notification_tab-8 {
    box-shadow: 0 10px 35px #d8ff63; }
    .notification_tab-8 .notification__text {
      color: #d8ff63; }
  .notification_tab-9 {
    box-shadow: 0 10px 35px gainsboro; }
    .notification_tab-9 .notification__text {
      color: gainsboro; }

.throbber {
  display: inline-block; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: translateY(-0.33em);
            transform: translateY(-0.33em); }
  50% {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounce {
  0% {
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: translateY(-0.33em);
            transform: translateY(-0.33em); }
  50% {
    -webkit-transform: none;
            transform: none; } }
  .throbber span {
    display: inline-block; }
  .throbber span:nth-child(1) {
    -webkit-animation: bounce 1s linear infinite;
            animation: bounce 1s linear infinite; }
  .throbber span:nth-child(2) {
    -webkit-animation: bounce 1s .25s linear infinite;
            animation: bounce 1s .25s linear infinite; }
  .throbber span:nth-child(3) {
    -webkit-animation: bounce 1s .5s linear infinite;
            animation: bounce 1s .5s linear infinite; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  height: 3em;
  z-index: 50; }
  @media (min-width: 60rem) {
    .header {
      display: none; } }
  .header:after {
    content: '';
    display: block;
    top: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50px; }
    @media (min-width: 60rem) {
      .header:after {
        display: none; } }
  .header_tab-1 {
    background: #9acaff; }
    .header_tab-1:after {
      background: -webkit-linear-gradient(top, #9acaff 0, rgba(154, 202, 255, 0) 50px);
      background: linear-gradient(to bottom, #9acaff 0, rgba(154, 202, 255, 0) 50px); }
  .header_tab-2 {
    background: #f9c266; }
    .header_tab-2:after {
      background: -webkit-linear-gradient(top, #f9c266 0, rgba(249, 194, 102, 0) 50px);
      background: linear-gradient(to bottom, #f9c266 0, rgba(249, 194, 102, 0) 50px); }
  .header_tab-3 {
    background: #9affa3; }
    .header_tab-3:after {
      background: -webkit-linear-gradient(top, #9affa3 0, rgba(154, 255, 163, 0) 50px);
      background: linear-gradient(to bottom, #9affa3 0, rgba(154, 255, 163, 0) 50px); }
  .header_tab-4 {
    background: #f893a1; }
    .header_tab-4:after {
      background: -webkit-linear-gradient(top, #f893a1 0, rgba(248, 147, 161, 0) 50px);
      background: linear-gradient(to bottom, #f893a1 0, rgba(248, 147, 161, 0) 50px); }
  .header_tab-5 {
    background: #edbeee; }
    .header_tab-5:after {
      background: -webkit-linear-gradient(top, #edbeee 0, rgba(237, 190, 238, 0) 50px);
      background: linear-gradient(to bottom, #edbeee 0, rgba(237, 190, 238, 0) 50px); }
  .header_tab-6 {
    background: #e8c7aa; }
    .header_tab-6:after {
      background: -webkit-linear-gradient(top, #e8c7aa 0, rgba(232, 199, 170, 0) 50px);
      background: linear-gradient(to bottom, #e8c7aa 0, rgba(232, 199, 170, 0) 50px); }
  .header_tab-7 {
    background: #aae8e7; }
    .header_tab-7:after {
      background: -webkit-linear-gradient(top, #aae8e7 0, rgba(170, 232, 231, 0) 50px);
      background: linear-gradient(to bottom, #aae8e7 0, rgba(170, 232, 231, 0) 50px); }
  .header_tab-8 {
    background: #d8ff63; }
    .header_tab-8:after {
      background: -webkit-linear-gradient(top, #d8ff63 0, rgba(216, 255, 99, 0) 50px);
      background: linear-gradient(to bottom, #d8ff63 0, rgba(216, 255, 99, 0) 50px); }
  .header_tab-9 {
    background: gainsboro; }
    .header_tab-9:after {
      background: -webkit-linear-gradient(top, gainsboro 0, rgba(220, 220, 220, 0) 50px);
      background: linear-gradient(to bottom, gainsboro 0, rgba(220, 220, 220, 0) 50px); }
  .header .burger {
    position: absolute;
    left: .75rem;
    top: .875rem; }
    .header .burger .bubble {
      position: absolute;
      font-size: .75em;
      top: -.6em;
      left: 1.1em;
      z-index: 10; }

.burger {
  height: 1.25rem;
  width: 1.5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  .burger:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black; }
