@import 'breakpoints';

$bg: #f6f6f6;
$colors: #9acaff, #f9c266, #9affa3, #f893a1, #edbeee, #e8c7aa, #aae8e7, #d8ff63, gainsboro;

$min-text-width: 35rem;
$max-text-width: 50rem;
$notification-width: 25rem;

@mixin text-left-min {
    @media ( min-width: $min-text-width + $notification-width ) { @content; }
}

@mixin text-left-max {
    @media ( min-width: $max-text-width + $notification-width ) { @content; }
}

@mixin text-center {
    @media ( min-width: $max-text-width + $notification-width * 2 ) { @content; }
}

@font-face {
    src: url(./fonts/Deckard-Regular.otf);
    font-family: Deckard;
}


* {
    box-sizing: border-box;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: Deckard, sans-serif;
    background: black;
}

#logo {
    position: fixed;
    width: calc(100% - 2em);
    top: 1em;
    left: 1em;
    right: 1em;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: transform .25s;
    background: $bg;
    
    @include text-left-min {
        height: auto;
        top: 2rem;
        bottom: 0;
    }
    
    &_menu-open {
        transform: translateX(90%);
        @include text-left-min {
            transform: none;
        }
    }
    
}

.app {
    background: $bg;
    height: 100vh;
    transform: scale(0,0);
    body.loaded & {
        transition: transform 1.5s;
        transform: none;
    }
}

.tabs {
    
    position: fixed;
    width: 90%;
    height: 100%;
    top: 0;
    background: $bg;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    
    @include text-left-min {
        
        flex-direction: row;
        width: 100%;
        height: 2rem;
        
    }
    
}

.tab {
    
    // border-bottom: 1px solid black;
    // border-right: 1px solid black;
    padding: 1em 2em;
    cursor: pointer;
    transition: background .25s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    font-weight: 300;
    
    @for $i from 1 through length($colors) {
        
        $c: nth($colors, $i);

        &:nth-child(#{$i}) {
            background: linear-gradient( to bottom, $c 0, $bg 100% );
            order: $i + 1;
        }

        &_active:nth-child(#{$i}) {
            background: $c;
            order: 1;
            @include text-left-min {
                order: 0;
            }
        }
        
        &:nth-child(#{$i}) {
        
            @include text-left-min {
                background: $c;
                order: 0;
            }
        
        }
        
    }

    &_active {
        cursor: default;
    }
    
    &_active, &_active:hover {
        // background: white !important;
    }
    
    .bubble {
        position: absolute;
        right: .6em;
        top: .8em;
        @include text-left-min {
            top: .28em;
            right: .25em;
        }
    }
    
    @include text-left-min {
        
        flex: 1 1 0;
        text-align: center;
        height: 100%;
        padding: .5em 2.5em;
        
        &:not(:last-child) {
            // border-right: 1px solid black;
        }
        
        &_active {
            border-bottom: none;
        }
        
        .throbber {
            position: absolute;
            top: .2em;
            left: .35em;
            font-size: 1.3em;
            display: block;
        }
        
    }
    
}

.bubble {
    padding: .22em .4em .18em .4em;
    border-radius: 10em;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    // min-width: 1.25em;
    text-align: center;
    background: red;
    color: white;
    position: absolute;
    // font-weight: bold;
    min-width: 1.4em;
}

.article {
    position: absolute;
    top: 3rem;
    bottom: 0;
    font-family: 'Spectral', serif;
    background: $bg;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    
    width: 100%;
    
    @include tablet {
        font-size: 22px;
    }
    
    @include text-left-min {
        top: 0;
        &:after {
            content: '';
            display: block;
            top: 3rem;
            position: fixed;
            width: 100%;
            height: 100px;
            top: 2rem;
        }
    }
    p{
        max-width: $max-text-width;
        padding: 0 .5em;
        margin-left: auto;
        margin-right: auto;
        
        @include text-left-min {
            min-width: $min-text-width;
            margin-right: $notification-width;
        }
        
        @include text-left-max {
            margin-left: calc( ( 100vw - #{ $notification-width + $max-text-width } ) / 2 );
        }
        
        @include text-center {
            margin-left: auto;
            margin-right: auto;
        }
        
        &:first-child {
            margin-top: 4em;
        }
        &:last-child {
            margin-bottom: 50vh;
        }
        
        a {
            &, &:visited {
                color: inherit;
            }
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: border-bottom-color .25s;
            &:hover {
                border-bottom: 1px solid black;
            }
        }
        
    }
    
    h1 {
        font-size: inherit;
        text-transform: uppercase;
    }
    
    h2 {
        font-size: inherit;
        text-transform: uppercase;
        font-weight: inherit;
        margin-bottom: 0;
    }
    
    span {
        border-radius: 4px;
        position: relative;
        transition: background 1s 1s, box-shadow 1s 1s;
        // display: inline-block;
    }
    
    @for $i from 1 through length($colors) {
    
        $c: nth($colors, $i);
        
        @keyframes highlight-#{$i} {
            0%{
                opacity: 0;
                // background: $c;
                // box-shadow: 0 0 10px 5px $c;
                top: 100vh;
            }
            12.5% {
                opacity: 1;
                top: 0;
            }
        }
        
        &:nth-child(#{$i + 1}) {
            
            &:after {
                background: linear-gradient( to bottom, $c 0, transparentize( $c, 1 ) 50px );
            }
            
            span {
                animation: highlight-#{$i} 4s;
                &.unseen {
                    background: $c;
                    box-shadow: 0 0 10px 5px $c;
                }
            }
        }
        
    }
    
}

.notifications {
    
    position: fixed;
    width: 100%;
    max-width: $notification-width;
    left: 50%;
    transform: translateX(-50%);
    top: calc( 100% - 110px );
    
    @include text-left-min {
        top: 2em;
        left: auto;
        right: 0;
        bottom: 0;
        transform: none;
    }
    
}

.notification {
    padding: 1em;
    background: white;
    // border: 1px solid black;
    cursor: pointer;
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    transition: transform .5s;
    border-radius: 5px;
    
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    animation: fade-in .75s;
    
    &__title {
        font-weight: normal;
        margin-bottom: .5em;
    }
    &__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__image {
        float: left;
        width: 2.5em;
        height: 2.5em;
        margin-right: 1em;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
    }
    
    @for $i from 1 through length($colors) {
    
        $c: nth($colors, $i);
        
        &_tab-#{$i} {
            box-shadow: 0 10px 35px $c;
            // background: $c;
            
            .notification__text {
                color: $c;
            }
            
        }
        
    }

    
}

.throbber {
    display: inline-block;
    @keyframes bounce {
        0%{
            transform: none;
        }
        25%{
            transform: translateY(-.33em);
        }
        50%{
            transform: none;
        }
    }
    span {
        display: inline-block;
    }
    span:nth-child(1) {
        animation: bounce 1s linear infinite;
    }
    span:nth-child(2) {
        animation: bounce 1s .25s linear infinite;
    }
    span:nth-child(3) {
        animation: bounce 1s .5s linear infinite;
    }
}

.header {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    height: 3em;
    z-index: 50;
    @include text-left-min {
        display: none;
    }
    
    &:after {
        content: '';
        display: block;
        top: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        height: 50px;
        @include text-left-min {
            display: none;
        }
    }
    
    @for $i from 1 through length($colors) {
        
        $c: nth($colors, $i);
        
        &_tab-#{$i} {
            background: $c;
            
            &:after {
                background: linear-gradient( to bottom, $c 0, transparentize( $c, 1 ) 50px );
            }
            
        }
        
    }
    
    .burger {
        position: absolute;
        left: .75rem;
        top: .875rem;
        .bubble {
            position: absolute;
            font-size: .75em;
            top: -.6em;
            left: 1.1em;
            z-index: 10;
            // right: -.5em;
        }
    }
    
}

.burger {
    height: 1.25rem;
    width: 1.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: black;
    }
}